.chats__wrapp{
    position: relative;
    flex-grow: 1;
    padding-top: 40px;
    border-right: 1px solid var(--gray-300);
}

.chats__title{
    margin: 0px 0 20px 30px;
}

.chats__list{
    height: calc(100% - 44px);
    max-height: calc(100vh - 250px);
    padding-bottom: 40px;
    overflow-y:scroll;
}

.chats__list::-webkit-scrollbar {
    display: none;
  }

.chats__add{
    position: fixed;
    bottom: 5%;
    left: 30px;
    padding: 8px 20px;
    border: 3px solid var(--accent-color);
    border-radius: 50%;
    font-size: 36px;
}