.logout__wrapp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    align-items: center;
    height: 100%;
}

.logout__btn-list{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.logout__btn{
    padding: 15px;
    font-size: 20px;
}

.logout__title{
    font-size: 28px;
}

