.change__form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.change__btn{
    padding: 10px;
    font-size: 20px;
}

.change__input-wrapp{
    position: relative;
    padding: 10px;
}