.user-icon-wrapp{
    position: relative;
}

.user-icon-wrapp::after{
    content: "";
    display: block;
    position: absolute;
    left: 35px;
    top: 35px;
    width: 16px;
    height: 16px;
}

.status-online::after{
    background-image: url("../../assets/tick.svg");
}

.status-offline::after{
    background-image: url("../../assets/cross.svg");
}