.btn {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--accent-color);
    transition: all 200ms var(--cube);
    background-color: var(--gray-0);
    color: var(--accent-color);
  }
  
  .btn:hover{
    background-color: var(--accent-color);
    color: var(--gray-0);
  }

  .title{
    font-size: 24px;
    color: var(--accent-color);
}

.input {
    padding: 12px 10px;
    text-align: center;
    border: transparent;
    border-bottom: 2px solid var(--gray-300);
    font-size: 24px;
    width: 100%;
  }
  
  .input.error{
      border-color: var(--red-100);
      color: var(--red-100);
  }