@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700");

body {
  font-family: "DM Sans", sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--gray-0);
}

button{
  cursor: pointer;
}

input::placeholder{
  color: var(--primary-text-color);
}